{% extends "_layout.html" %} 

{% block title %} 
    Edit 
{% endblock %} 

{% block content %}

<div class="container">
        <div class="row">
          <div class="col">
    <div class="w-100 d-flex flex-column align-items-center my-3">
        <br></br>
        <form action="{{url_for('users.update_picture', id=current_user.id)}}" method="POST" enctype="multipart/form-data"> 
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
            <img src={{current_user.profile_picture}} />
            <br></br>
            <input type="file" name="user_file"> 
            <br></br>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
    
<div class="col">
    <form action="{{url_for('users.update', id=current_user.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
        
        <div class="w-100 d-flex flex-column align-items-center my-3">
            
            <h1>Update {{user.username}}'s Profile</h1>
            <div class= "form-group">
                <label for="name">Username</label> 
                <input type="text"
                required name="username"
                class="form-control"
                placeholder="username"/>
    </div>
    
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" 
        class="form-control" 
        placeholder="Enter email"
        name="email" />
    </div>
    <!--  -->
    <div class="form-group">
        <label for="password">Password</label> 
        <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        /> 
    </div>

    <div class="form-group">
            <label for="description">Description</label>
            <input
              rows="5"
              type="textarea"
              class="form-control"
              id="description"
              name="description"
            />
          </div>
    
    <button type="submit" class="btn btn-primary">Update</button> 
    </form> 
    </div>
</div>
</div>
</div>
</div>


{% endblock %}
