{% extends "_layout.html" %} 

{% block title %} 
    Edit 
{% endblock %} 

{% block content %}

<div class="w-100 d-flex flex-column align-items-center my-3">

    <h1>Upload Your Profile Picture</h1>
    <form action="/" method="POST" enctype="multipart/form-data"> 
        <label for="user_file">Upload Your File</label>
        <br></br>
        <input type="file" name="user_file"> 
        <br></br>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>


<form action="{{url_for('users.update', id=current_user.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 

<div class="w-100 d-flex flex-column align-items-center my-3">
    <h1>Update {{user.username}}'s Profile</h1>
        <div class= "form-group">
            <label for="name">Username</label> 
            <input type="text"
            required name="username"
            class="form-control"
            placeholder="username"/>
        </div>
        
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" 
            class="form-control" 
            placeholder="Enter email" />
        </div>
        
        <div class="form-group">
            <label for="password">Password</label> 
            <input
            type="password"
            class="form-control"
            placeholder="Password"
            /> 
        </div>
        
        <button type="submit" class="btn btn-primary">Update</button> 
    </form> 
</div>

{% endblock %}
