{% extends "_layout.html" %} {% block content %}



<!-- the sign up page -->
<div class=styled_form_div>
<h1>Sign Up</h1>
<form action="{{url_for('users.create')}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
  <div class="form-group my-4">
    <label for="storename">Username</label>
    <div class="input-group-prepend">
        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        <input
          class="sign-up-form form-control is-valid"
          id="validationServerUsername"
          input type="text"
          placeholder="username"  
          name="username"
        />
      </div>
    <div class="valid-feedback">
        Looks good.
      </div>
  </div>

  <div class="form-group my-4">
    <label for="storename">Email</label>
    <input
      class="sign-up-form form-control"
      placeholder="Enter email"
      input type="email"
      name="email"
    />
  </div>

  <div class="form-group my-4">
        <label for="storename">Password</label>
    <input
      class="sign-up-form form-control"
      placeholder="password"
      input type="password"
      name="password"
    />
    <small class="form-text text-muted text-justify">Min 8 characters.</small>
  <div class="form-group my-4">
    <label for="storename">Confirm Password</label>
        <input
        class="sign-up-form form-control"
        placeholder="confirm password"
        input type="password"
        name="confirmpassword" 
    />
  </div>

  <div class="mb-3">
      <input type="checkbox" class="" name="privacy" value="true"/>
      <small class="text-muted" for="privacy" value="true">Make your account private</small>
    </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


{% endblock %}
