{% extends "_layout.html" %} {% block content %}

<div id="dropin-container"></div>

<form id="donation_form" action="{{url_for('donations.create')}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
    <input id="nonce_input" type="hidden" name='nonce' />
</form>
<button class="btn btn-info" id="submit-button">
    Request payment method
</button>

<script src="https://js.braintreegateway.com/web/dropin/1.20.4/js/dropin.min.js"></script>
 

<script type="text/javascript">
    var btn = document.getElementById("submit-button");
    var input = document.getElementById("nonce_input");  
    console.log("{{client_token}}")
    console.log(input)
    braintree.dropin.create({
      authorization: "{{client_token}}",
      container: "#dropin-container"
    }, (err, instance) => {
      btn.onclick = () => {
        instance.requestPaymentMethod(function(err, payload) {
          input.value = payload.nonce
          document.getElementById("donation_form").submit()
        })
      }
    })
  </script>

{% endblock %}
