{% extends "_layout.html"%} {% block title %} Upload Photo {% endblock %}
{%block content %}

<div class="d-flex justify-content-center align-items=center vh-100">
  <form
    action="{{url_for('images.create', id=current_user.id)}}"
    method="POST"
    enctype="multipart/form-data">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <br>

    <h1>What would you like to post today</h1>
  </br>
      <img src="https://dummyimage.com/ntsc" class="border-0" />
    <br>
  </br>
      <input class="form-control-file" type="file" name="user_file" />
    <br>
  </br>
    <button class="btn btn-primary" type="submit">Upload</button>
  </form>
</div>

{% endblock %} 
