{% extends "_layout.html"%} 

{% block title %} 
 Upload Photo 
{% endblock %} 

{% block content %}

<div class="w-100 d-flex flex-column align-items-center my-3">
  <form
    action="{{url_for('images.create', id=current_user.id)}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group m-5" style="width: 80vw;">
      <img src="/" class="border-0" />
      <input class="form-control-file" type="file" name="user_file" />
    </div>
    <button class="btn btn-primary" type="submit">Upload</button>
  </form>
</div>

{% endblock %}
