{% extends "_layout.html" %} 

{% block title %} 
  Homepage 
{% endblock %} 

{% block header %} 
{% endblock %} 

{% block content %} 

  {% if current_user.is_authenticated %}
  <div class="header mb-5">
    <h1>Homepage</h1>
  </div>

  {% else %}
  <div class="header mb-5">
    <h1>Homepage</h1>
  </div>
  {% endif %}

  <div class="row">
    {% for user in users %}
      <div class="col-6 text-center mb-3">
      <img src="{{user.profile_image_url}}">
      <span class="d-block">
        <a href="{{url_for('images.show', id=users.id)}}">{{user.username}}</a>
      </span>  
  </div>
    
    {% endfor %}

    </div>



{% endblock %}