{% extends "_layout.html" %} {% block title %} Homepage {% endblock %} {% block
header %} {% endblock %} {% block content %}

<div class="header mb-5">
  <h1>Homepage</h1>
</div>

<div class="row">
  {% for user in users %}
  <div class="col-6 text-center mb-3">
    <img style="width: 250px; height: 250px;" src="{{user.profile_picture}}" />

    {% if current_user.is_authenticated %}
    <a href="{{url_for('users.show', username=user.username)}}" class="d-block"
      >{{user.username}}</a
    >
    {% else %}
    <a href="" class="d-block">{{user.username}}</a>

    {% endif %}
  </div>

  {% endfor %}
</div>

{% endblock %}
